<img src="assets\R.jpg" class="img1" width="1910" />
<br>
<div>
    <img src="assets\th (1).jpg" width="40" class="img2" />
<h1>Who we are</h1>

<ul>
    <b>Vishesh Country Cache was founded in 2016 with an objective to:</b>
    <li>Enable countryside graduates by enriching them on a Stanford University based programming curriculum</li>
    <li>Develop great programmers who would have made Steve Jobs blush</li>
    <li>Prevent mass exodus of millennials to urban areas by providing them with competent opportunities in the countryside</li>
    <li>Deliver global projects in a cost effective manner with a quality that exceeds expectations</li>
</ul>
</div>
