<img src="assets\R.jpg" style="height: 500px;" width="1903" />
<br>
<div>
    <img src="assets\th (1).jpg" width="40" style="float: left;margin-top: -5px;" />
<h1>Who we are</h1>

<ul>
    <b>Vishesh Country Cache was founded in 2016 with an objective to:</b>
    <li>Enable countryside graduates by enriching them on a Stanford University based programming curriculum</li>
    <li>Develop great programmers who would have made Steve Jobs blush</li>
    <li>Prevent mass exodus of millennials to urban areas by providing them with competent opportunities in the countryside</li>
    <li>Deliver global projects in a cost effective manner with a quality that exceeds expectations</li>
</ul>
</div>

<div>
    <img src="assets\th (1).jpg" width="40" style="float: left;margin-top: -5px;" />
<h1>Why we differ</h1>

<ul>
    <li>Proven and Certified by countryside resources</li>
    <li>competent pricing models</li>
    <li>Nimble project delivery times</li>
    <li>Strived to exceed expectations</li>
    <li>Challenge ourselves towards continues improvement</li>
    <li>Transparent operational model</li>
    <li>Curated resources who are able to answer 75% of the programming questions posed in Google interviews</li>
    <li>Giving back to our community in meaningful ways</li>
</ul>
</div>

<app-book-list></app-book-list>
