h1{
    margin: 23px;
    font-weight: 500;
}
li{
    margin-left: 80px;
    font-size: 18px;
    line-height: 2em;
}
b{
    margin-left: 40px;
    font-size: 18px;
    line-height: 2em;
}
div{
    margin: 20px;
}
img2{
    float: left;
    margin: 15px;
}
img1{
    width: 10%;
    height: 600px;
}