<h2>Which books we are following for trainning</h2>

<div class="card mb-3" style="max-width: 650px;float: left;" id="one2">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets\th (5).jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">C Language</h1>
          <p class="card-text">C is a procedural programming language. It was initially developed by Dennis Ritchie in the year 1972. It was mainly developed as a system programming language to write an operating system.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 650px;float:right;margin-right: 200px;" id="one2">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets\main-qimg-1f5fda32acc8ae23d18f391ad47e8c52-c.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Data structure Language</h1>
          <p class="card-text">The data structure name indicates itself that organizing the data in memory. There are many ways of organizing the data in the memory as we have already seen one of the data structures, i.e., array in C language.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 650px;float: left;" id="one2">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets\th.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">C++ Language</h1>
          <p class="card-text">C++ is a powerful general-purpose programming language. It can be used to develop operating systems, browsers, games, and so on. C++ supports different ways of programming like procedural, object-oriented, functional, and so on. This makes C++ powerful as well as flexible.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 650px;float: right;margin-right: 200px;" id="one2">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets\IntroductionToJava.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Java Language</h1>
          <p class="card-text">Java is one of the most popular and widely used programming language.Java has been one of the most popular programming language for many years.Java is Object Oriented. However it is not considered as pure object oriented.</p>
        </div>
      </div>
    </div>
  </div>