
<!--emp_id, first_name, last_name, email, phone_num, address, gender, designation-->
<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <h1 style="text-align: center;font-weight: 500;">Enter Employee details</h1><br>
  
      <form [formGroup]="loginfrm" (ngSubmit)="onSubmit()">
        <label>emp_id: </label>
        <input type="number" id="emp_id" formControlName="emp_id"  required  name="emp_id" style="width: 335px;"><br><br>

        <div style="width:100%;">
        <div style="width:45%;float:left;">
        <label>first_name: </label>
        <input type="text" id="first_name" formControlName="first_name"  required  name="first_name">
        </div>
        <div style="width:45%;float:right;">
            
        <label>last_name: </label>
        <input type="text" id="last_name" formControlName="last_name"  required  name="last_name">
        </div>
        </div>
        <div style="width:100%;"><br><br><br>
            <div style="width:45%;float:left;">

        <label>email: </label>
        <input type="email" id="email" formControlName="email"  required  name="email">
    </div>
    <div style="width:45%;float:right;">
        <label>phone_num: </label>
        <input type="text" id="phone_num" formControlName="phone_num"  required  name="phone_num">
        </div>
        </div><br><br><br><br>
        <label>address: </label>
        <input type="text" id="address" formControlName="address"  required  name="address" style="width: 335px;"><br><br>
        <div style="width:100%;">
            <div style="width:45%;float:left;">

        <label>gender: </label>
        <input type="text" id="gender" formControlName="gender"  required  name="gender">
    </div>
    <div style="width:45%;float:right;">
        <label>designation: </label>
        <input type="text" id="designation" formControlName="designation"  required  name="designation">
        </div>
        </div><br><br><br>
  
        <button mat-stroked-button color="accent" class="btn-block" type="submit">Submit</button>
  
      </form>
    </mat-card>
  </div>